<div class="app-bar small-screen-only medium-screen-only">
  {{#link-to "stories.index"}}
    <span class="gutter"><i class="icon-chevron-left"></i></span> {{filterName}}
  {{/link-to}}
</div>

<div class="app-bar-shadow small-screen-only medium-screen-only"></div>

<div class="app-panel story-reader">
  <div class="story-reader-header">
    {{story-card story=model}}

    {{#tabbed-links}}
      {{link-to "Article"  "stories.show.preview"  model replace=true}}
      {{link-to "Comments" "stories.show.comments" model replace=true}}
    {{/tabbed-links}}
  </div>

  <div class="story-reader-content">
    {{outlet}}
  </div>
</div>
